.navbar-nav .nav-link {
    color: #ffffff; /* لون الروابط أسود بشكل افتراضي */
    transition: color 0.3s ease; /* تغيير اللون بشكل سلس */
    font-weight: 600;
}



.banner-about {
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bg-about2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-about .about-content h1{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff !important;
    background-color: #0516419d !important;
}






.data-about{
    padding: 120px 0 90px;
    width: 100%;
    box-shadow: -5px -5px 20px #051641;
    text-align: center;
}
.data-about .contant{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
}
.data-about .data1{
    width: 500px;
    margin: 0 auto;
}
.data-about .data2{
    display: none;
}
.data-about .about{
    position: absolute;
    width: 400px;
    top: 35px;
    right: -10px;
}
.data-about .vision{
    position: absolute;
    width: 400px;
    top: 133px;
    left: 0px;
}
.data-about .goal{
    position: absolute;
    width: 350px;
    top: 300px;
    right: 65px;
}
.data-about p{
    margin-left: 0 10px;
    font-family: "Fredoka", sans-serif;
    font-size: 13px;
}
@media (max-width: 1400px){
    .data-about .contant .about{
        position: absolute;
        width: 300px;
        top: 35px;
        right: 0px;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 300px;
        top: 133px;
        left: 0px;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 350px;
        top: 300px;
        right: 15px;
    }
}
@media (max-width: 1200px){
    .data-about .contant .about{
        position: absolute;
        width: 300px;
        top: 35px;
        right: -50px;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 300px;
        top: 133px;
        left: -50px;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 300px;
        top: 300px;
        right: -40px;
    }
}
@media (max-width: 1050px){
    .banner-about {
        height: 25vh;
    }
    .data-about .contant .about{
        position: absolute;
        width: 250px;
        top: 35px;
        right: -10px;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 250px;
        top: 133px;
        left: -10px;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 200px;
        top: 300px;
        right: 50px;
    }
    .data-about p{
        margin-left: 0 10px;
        font-family: "Fredoka", sans-serif;
        font-size: 10px;
    }
}
@media (max-width: 950px){
    .data-about .contant .about{
        position: absolute;
        width: 250px;
        top: 25px;
        right: -60px;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 250px;
        top: 120px;
        left: -90px;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 200px;
        top: 300px;
        right: -40px;
    }
    .data-about p{
        margin-left: 0 10px;
        font-family: "Fredoka", sans-serif;
        font-size: 10px;
    }
}
@media (max-width: 850px){
    .data-about .contant .about{
        position: absolute;
        width: 200px;
        top: 25px;
        right: -20px;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 200px;
        top: 120px;
        left: -50px;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 170px;
        top: 300px;
        right: -20px;
    }
    .data-about p{
        margin-left: 0 10px;
        font-family: "Fredoka", sans-serif;
        font-size: 7px;
    }
}
@media (max-width: 768px) {
    .data-about .contant .about{
        position: absolute;
        width: 170px;
        top: 25px;
        right: -20px;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 170px;
        top: 115px;
        left: -20px;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 170px;
        top: 300px;
        right: -20px;
    }
    .data-about p {
        margin: 0 10px;
        font-family: "Fredoka", sans-serif;
        font-size: 10px !important;
        text-align: center;
    }
}
@media (max-width: 760px){
    .data-about .data1{
        display: none;
    }
    .data-about .data2{
        display: block !important;
        height: 270px;
        width: 20px;
    }
    .data-about{
        padding: 50px 5px 100px;
        width: 100%;
        box-shadow: -5px -5px 20px #051641;
        text-align: center;
    }
    .data-about .contant{
        width: 100%;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        position: relative;
    }
    .data-about .contant .about{
        position: absolute;
        width: 270px;
        top: -10px;
        left: 25px;
        text-align: left ;
    }
    .data-about .contant .vision {
        position: absolute;
        width: 270px;
        top: 123px;
        left: 25px;
        text-align: left ;
    }
    .data-about .contant .goal{
        position: absolute;
        width: 270px;
        top: 257px;
        left: 25px;
        text-align: left ;
    }
    .data-about h4{
        margin: 0 !important;
    }
    
}



.data .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 0 30px;
}







/* Certificates style */

.Certificates{
    width: 100%;
    padding: 70px 0;
}
.Certificates h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700 !important;
	color: #072440;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    text-decoration: underline;
}
.Certificates ul{
    margin-top: 30px;
    display: flex;
}
.Certificates ul img{
    width: 350px;
    margin: 0 20px;
}
@media (max-width: 660px){
    .Certificates ul{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .Certificates ul img{
        width: 230px;
        margin: 15px auto;
    }
    .Certificates .Certificates-col{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .Certificates h2 {
        font-family: "Kanit", sans-serif;
        font-weight: 700 !important;
        color: #072440;
        text-transform: capitalize;
        margin-bottom: -22px;
        font-weight: 500;
        position: relative;
        text-decoration: underline;
    }
    .Certificates ul {
        padding: 0;
    }
}